body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,4,191,1) 50%, rgba(0,212,255,1) 100%);
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.banner {
    max-width: 90%;
    margin: 0 auto;
}

.banner h1 {
    font-size: 20px;
    margin: 0;
}

.gombok {
    display: inline;
    font-size: large;
    border-radius: 5px;
    border: 3px solid #333;
    margin: auto;
    margin-top: 30px;
    background-color: transparent;
    color: white;
}
.gombok:hover {
    background-color: cyan;
    border: #333 3px solid;
    color: black !important;
}
.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    color: white;
}
a:link { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; color: inherit; }
a:hover { text-decoration: none; color: inherit; }
a:active { text-decoration: none; color: inherit; }

/* Medialekérdezés a nagyobb képernyőkhöz */
@media screen and (min-width: 768px) {
    .banner h1 {
        font-size: 24px;
    }
    .parent {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 350px;
        font-size: larger;
        color: white;
    }
}
